[Desktop Entry]
Version=1.0
Type=Application
Name=pneu
Comment=Gmail, read locally
Exec=pneu open
Icon=pneu
Terminal=false
Categories=Network;Email;
StartupNotify=true
