{{define "content"}}<main class="thread" data-account="{{.Account}}" data-thread="{{.Thread}}" data-msgids="{{.MsgIDs}}" data-unread-ids="{{.UnreadIDs}}"{{if .In}} data-in="{{.In}}"{{end}} tabindex="-1">
<h1>{{.Subject}}</h1>
{{- range .Messages}}
<article class="{{.Class}}" data-account="{{$.Account}}" data-msgid="{{.MsgID}}" data-depth="{{.Depth}}"{{if .Gmail}} data-gmail="{{.Gmail}}"{{end}}>
<header>
<div class="from"><span class="name">{{.FromName}}</span>{{if .FromAddr}} <span class="addr">&lt;{{.FromAddr}}&gt;</span>{{end}}</div>
{{- if .To}}
<div class="to">To: {{.To}}</div>
{{- end}}
{{- if .Cc}}
<div class="cc">Cc: {{.Cc}}</div>
{{- end}}
<time datetime="{{.ISO}}">{{.Date}}</time>
<span class="pos">{{.Pos}} of {{$.Total}}</span>
</header>
{{- if eq .Kind "html"}}
<div class="body" data-kind="html" data-body-url="{{.BodyURL}}"{{if .HoldImages}} data-remote-images="click"{{end}}></div>
{{- else if eq .Kind "text"}}
<div class="body" data-kind="text"><pre>{{.Text}}</pre></div>
{{- end}}
{{- if .Attach}}
<ul class="attachments">
{{- range .Attach}}
<li>{{if .Inline}}<a href="{{.Href}}" target="_blank" rel="noopener"{{if .View}} data-view="{{.View}}"{{end}}>{{.Name}}</a>{{else}}<a href="{{.Href}}" download="{{.Name}}"{{if .View}} data-view="{{.View}}"{{end}}>{{.Name}}</a>{{end}}</li>
{{- end}}
</ul>
{{- end}}
</article>
{{- end}}
</main>
{{end}}
